<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225542888139-ovoavmg328eip8nrqlthj4h322hh6hhk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225542888139-ovoavmg328eip8nrqlthj4h322hh6hhk</string>
	<key>API_KEY</key>
	<string>AIzaSyA4W_CWTupNmqaU_T7wHgA-zl3vMg0-0ts</string>
	<key>GCM_SENDER_ID</key>
	<string>225542888139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giloeng.attendance</string>
	<key>PROJECT_ID</key>
	<string>attendance-8c373</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-8c373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225542888139:ios:11b54381cf671f3bb8594e</string>
</dict>
</plist>